<p>Añadir comentario:</p>
<div>
    <form method="post" action="/quizes/<%= quizid %>/comments">
        <input type="text" id="comment" name="comment[texto]" maxlength="100"/>
        <button type="submit">Enviar</button>
    </form>
</div>
