<div class="panel panel-info container-fluid">
    <div class="panel-body">
        <h3 class="text-center">Wellcome to <%= title %></h3>
        <hr>
        <img class="img-responsive pull-left" src="/images/Quiz-List.jpg" alt="Quizzes image>" title="Quizzes image" />
        <p>The game where you can demonstrate your knowledge</p>
    </div>
</div>
