body {
    background: #333;
    font-size: x-large;
    padding: 2px;
}
#page-wrap::after {
    content: "Smartphone Layout";
}
h2 span, section h3 {
    display: none;
}
footer, input, button {
    font-size: large;
}
#credits img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.rem {
    display: none;
}
