<div class="form-group">
    <label for="preg" class="col-sm-3 control-label">Pregunta</label>
    <div class="col-sm-9">
        <input class="form-control" type="text" id="preg" name="quiz[pregunta]" <% if (quiz.pregunta === 'Tu pregunta') {%> placeholder="<%= quiz.pregunta %>" <%} else {%> value="<%= quiz.pregunta %>"<%}%> />
    </div>
</div>
<div class="form-group">
    <label for="resp" class="col-sm-3 control-label">Respuesta</label>
    <div class="col-sm-9">
        <input class="form-control" type="text" id="resp" name="quiz[respuesta]" <% if (quiz.pregunta === 'Tu pregunta') {%> placeholder="<%= quiz.respuesta %>" <%} else {%> value="<%= quiz.respuesta %>"<%}%> />
    </div>
</div>
<div class="form-group">
    <label for="tema" class="col-sm-3 control-label">Temática</label>
    <div class="col-sm-9">
        <select class="form-control" name="quiz[tema]">
            <option value="" <% if (!quiz.tema) { %>selected="selected"<% } %>>Seleccione un tema</option>
            <option value="Humanidades" <% if (quiz.tema == 'Humanidades') { %>selected="selected"<% } %>>Humanidades</option>
            <option value="Ocio" <% if (quiz.tema == 'Ocio') { %>selected="selected"<% } %>>Ocio</option>
            <option value="Ciencia" <% if (quiz.tema == 'Ciencia') { %>selected="selected"<% } %>>Ciencia</option>
            <option value="Tecnología" <% if (quiz.tema == 'Tecnología') { %>selected="selected"<% } %>>Tecnología</option>
            <option value="Geografía" <% if (quiz.tema == 'Geografía') { %>selected="selected"<% } %>>Geografía</option>
        </select>
    </div>
</div>
<hr>
<div class="form-group text-center">
    <a href="/quizes" class="btn btn-default" role="button"><span class="glyphicon glyphicon-step-backward"></span> Go back</a>
    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
</div>
