<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>El juego de las preguntas</h2>
    <p>Tu respuesta <em><%= respuesta %></em> es <strong><%= resultado %></strong></p>
    <p><a href="/quizes/question">Inténtalo otra vez</a></p>
  </body>
</html>
