
<form method="get" action="/quizes/<%= quiz.id %>/answer">
    Question: <%= quiz.pregunta %><br/>
    <input type="text" name="respuesta" placeholder="Your answer here" autofocus>
    <input type="submit" value="Send">
</form>
