<h2>Login</h2>
<form method="post" action="/login">
    <div class="field">
        <label for="login">Login:</label><br>
        <input type="text" id="login" name="login" size="30" max="30" placeholder="Your username">
    </div>
    <div class="field">
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" size="30" max="30" placeholder="Your password">
    </div>
    <div class="actions">
        <input name="commit" type="submit" value="Login">
    </div>
</form>
